/*
  @theme QuietNight
  @override-placeholders html, xml, css, php, sourcecode.js
*/
 
 
@base {
  color:#F8F8F8;
  background-color:rgba(12,16,33,0.95);
  insertion-point-color: #fff;
  selection-background-color: #253B76;
}
 
tag, source, sourcecode { spell-check: disabled; }
 
tag, 
string > punctuation, 
attribute-name,
entity
{ color:#7F90AA; }
 
string { color:#61CE3C;}
 
 
comment, 
comment *,
comment.block,
comment.line.double-slash,
comment>punctuation, 
tag.doctype, 
tag.doctype > *, 
tag.doctype > string.quoted 
{ color: #557; }
 
literal.string,
string single, /*Legacy*/
string double /*Legacy*/
{ 
  color:#61CE3C;
}
 
square-brace
{
  color:rgba(220,220,255,0.9);
}
 
processing-instruction { color:#aeaeae; }
 
/* 
-----------------------------------------------------
  ExpressionEngine Tags
-----------------------------------------------------
*/
 
ee.tag > name, 
ee.tag > punctuation,
ee.tag > string,
ee.tag.conditional { color:#8ce999; }
 
ee.tag attribute-name  {
  color:#9ecffd;
  font-weight:bold; 
}
ee.tag attribute { 
  color:#d144ca;
}
 
ee.tag.self-closing.conditional { background:rgba(37,59,118,0.35);}
 
ee.tag.self-closing,
ee.tag.self-closing > name, 
ee.tag.self-closing > punctuation, 
ee.tag.self-closing attribute-name { color:#9ecffd;}
 
/* 
-----------------------------------------------------
  HTML
-----------------------------------------------------
*/
 
html {spell-check:enabled;}
 
/* 
-----------------------------------------------------
  CSS
-----------------------------------------------------
*/
 
css selector.css               { color:#DE5A00; }
css property-list > property-value   { color:#8af299; }
css property-list > property-name     { color:#9ecffd; }
css color                   { color:#FBDE2D;} 
css group-start, css comment, css comment punctuation    { color:#557;}
 
css itemize.group-end.comment.block.css {
  color:rgba(44,44,66,0.8);
}
 
css group-start name  { 
  color:#9ecffd; 
  font-weight:bold;
}
 
css at-rule {
  color:#8af299;
}
 
css at-rule keyword {
  color:#DE5A00;
}
css at-rule punctuation.end { 
  color: #fff; 
  } 
css support.function.url, css punctuation.section.function {
  color:#9ecffd; 
}
css variable.url {
  color:#8af299;
}
css identifier.variable {
  color:#8a2a85; 
  background-color:#212537;
  font-weight:bold;
}
css identifier.variable.value { 
  color:#d144ca;
  font-weight:normal;
}
css zkeyword.other.italic   { font-style:italic; }
css zkeyword.other.bold    { font-weight:bold; }
 
/* 
-----------------------------------------------------
  PHP
-----------------------------------------------------
*/
 
php,
operator
{ 
  color:rgba(220,220,255,0.9);
}
 
php delimiter.embedded.source,
php.definition
{
  color: #FF0000;
}
 
/* Functions */
php identifier.function
{
  color:#9ef29f;
}
php identifier.function.support > begin
{
  color:#DE5A00;
}
 
/* Variables */
php variable,
php identifier.variable.instance.class
php variable > group,
variable.other,  /* Legacy */
variable > punctuation.variable /* Legacy*/ 
{
  color:#d144ca;
  font-weight:bold;
}
 
/* Keywords */
php keyword.control.include,
php keyword.control,
php modifier
{ 
  color:#9ecffd;
  background-color:#0C1021;
}
 
/* Constants */
keyword.constant 
{ 
  color:#78e0ff; 
}
 
/* PHP Doc */
php phpDoc.keyword 
{
  color:rgba(163,204,253,0.63);
}
 
php name 
{ 
  color:#9ef29f;
}
 
php method.name
{ color:#3df5ff;}
 
 
php integral{
  color: #fff;
  background:#0C1021;
}
 
/* General */
 
 
/* Functions */
identifier.function
{
  color:#9ef29f;
}
identifier.function.support > begin
{
  color:#DE5A00;
}
 
/* Variables */
variable,
identifier.variable.instance.class
variable > group,
variable.other,  /* Legacy */
variable > punctuation.variable /* Legacy*/ 
{
  color:#d144ca;
  font-weight:bold;
}
 
/* Keywords */
keyword.control.include,
keyword.control,
modifier
{ 
  color:#9ecffd;
  background-color:#0C1021;
}
 
/* Constants */
keyword.constant 
{ 
  color:#78e0ff; 
}
 
function name 
{ 
  color:#9ef29f;
}
 
method.name
{ color:#3df5ff;}
 
 
integral{
  color: #fff;
  background:#0C1021;
}
 
 
/* 
-----------------------------------------------------
  JS
-----------------------------------------------------
*/
invalid {
  background-color: #f93232;
}